.weeds-container {
    display: flex;
    flex-direction: column; /* 各アイテムを縦方向に並べる */
    gap: 1rem; /* 各アイテム間の間隔 */
    padding: 1rem;
}

.weed-life {
    display: flex; /* アイテム内を横方向に並べる */
    gap: 1rem; /* 各要素間の間隔 */
    align-items: center; /* 高さを揃える */
    /*border-top: 1px solid #ccc; /* 枠線 */
    /*border-bottom: 1px solid #ccc; /* 枠線 */
    padding: 1rem;

}

.weed-life img {
    width: 300px; /* 画像の幅を統一 */
    height: auto; /* アスペクト比を保つ */
}

.weed-life p {
    margin: 0; /* 余白を削除 */
    flex: 1; /* テキスト要素に均等な幅を割り当てる */
}

.weed-life .about-lifespan {
    flex: 3; /* 説明部分に全体幅の50%を割り当てる */
    text-align: justify; /* 説明文を整列 */
    padding-left: 1em;
}
.lifespan {
    font-family: 'Kiwi Maru', serif; /* Googleフォント */
    font-size: 1.2em;
    font-weight: bold;
}

@media (max-width: 768px) { /* スマホサイズの条件 */
    .weed-life {
        /*flex-wrap: wrap; /* アイテムを折り返し可能にする */
        flex-direction: column; /* 縦方向に並べる */
    
    }
    .weed-life img {

        margin-top: 1rem; /* 上部に余白 */
    }
    .weed-life .about-lifespan {
        flex-basis: 100%; /* 全幅を占める */
        margin-top: 0.5rem; /* 上に間隔を追加 */
    }
}